extends layout

block content
  script(type='text/babel', src='javascripts/TestBox.js')
  
  #content

  // .container is main centered wrapper
  .container
    // columns should be the immediate child of a .row
    .row
      h1= title
      p Welcome to #{title}
    .row
      .eleven.columns
        textarea#exampleMessage.u-full-width(placeholder='Sometext')
      .one.column
        input.button-primary(value='Submit', type='submit')

    .row
      .one.column one
      .eleven.columns eleven

    // just use a number and class 'column' or 'columns'
    .row
      .two.columns Two
      |     
      .ten.columns Ten
    // there are a few shorthand columns widths as well
    .row
      .one-third.column 1/3
      |     
      .two-thirds.column 2/3
    |   
    .row
      .one-half.column 1/2
      |     
      .one-half.column 1/2
