doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/external/skeleton/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js')  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    
  body
    block content
