@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

#main-heading {
    color: blue;
    text-align: center;
  }
h1 {
    border: 1px solid black;
    padding: 10px;
  }
h1 {
    position: absolute;
    top: 0;
    left: 0;
  }
h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #CFD9D9;
}
p {
  position: absolute;
  top: 40%;
  left: 50%;
  right: 0;
  display: block;
  color: #ffff;
  transform: translate(-50%, -50%);
font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
}
