@import "./shared";

.downloadList {
  @include makePanel();
  background: $background_secondary;
  display: flex;
  flex: 0 1 600px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 20px;
  max-height: 80%;
  overflow-y: auto;
  position:relative;

  &__item {
    display: flex;
    flex: 1 0 300px;
    padding: 10px;
    width: 100%;
  }

  &__clear {
    background: $background_secondary;
    border-top: 1px solid $background_primary;
    color: $text-secondary;
    padding: 5px;
    text-align: center;
    width: 100%;

    &:hover {
      background: darken($background_secondary, 2%);
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $background_secondary;
  }

  &::-webkit-scrollbar-thumb {
    background: darken($background_primary, 2%);
  }
}

.video {
  &__name {
    color: $text-secondary;
    word-break: break-all;
    word-wrap: break-word;
  }

  &__link {
    font-size: 14px;
    margin-left: auto;

    a {
      color: $text-secondary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $text-secondary;
      }
    }
  }
}
