@import './shared';

.downloadForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__input {
    @include makePanel();
    flex: 0 1 500px;
    font-size: 16px;
    appearance: none;
    padding: 10px;
    margin-right: 10px;
  }

  &__btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    @include makePanel();
    flex: 0 0 70px;
    height: 38px;
    padding-bottom: 3px;
    color: $text_primary;
    background-color: $accent_primary;
  }
}
