@import './shared';

.downloadForm {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  &__input {
    @include makePanel();
    appearance: none;
    flex: 0 1 500px;
    font-size: 16px;
    height: 20px;
    margin-right: 10px;
    padding: 10px;

    &--error {
      border: 1px solid $accent_primary;
      color: $accent_primary;
    }
  }

  &__btn {
    @include makePanel();
    background-color: $accent_primary;
    color: $text_primary;
    flex: 0 0 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: 40px;
    padding-bottom: 3px;
    outline: none;

    &:active {
      background-color: darken($accent_primary, 10%);
    }
  }
}
