@import "./shared";

.downloadList {
  @include makePanel();
  background: $background_secondary;
  display: flex;
  flex: 0 1 600px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 20px;

  &__item {
    display: flex;
    flex: 1 0 300px;
    padding: 10px;
    width: 100%;
  }
}

.video {
  &__name {
    color: $text-secondary;
  }

  &__link {
    flex-grow: 1 1 400px;
    font-size: 14px;
    margin-left: auto;

    a {
      color: $text-secondary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $text-secondary;
      }
    }
  }
}
