@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$accent_primary: #cc181e;

$text_primary: #eeffff;
$text_secondary: #d3d0c8;

$background_primary: #202530;
$background_secondary: #2f343f;

@mixin makePanel() {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(40,40,40);
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  
  background: $background_primary;
  color: $text_primary;
  font-family: 'Open Sans', sans-serif;
  
}

.spinner {
  margin-left: auto;
  margin-top: -3px;
  text-align: center;
  width: 60px;
}

.spinner > div {
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background-color: $text_secondary;
  border-radius: 100%;
  display: inline-block;
  height: 8px;
  margin-left: 5px;
  width: 8px;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}
